            .sectionWrapper2{
                color: black;
                border: 8px;
                border-style: groove;
                border-color: aquamarine;
                background-color: aqua;
            }
            .sectionWrapper2 h1{
                color: darkblue;
            }
nav {
    background-color: #333;
    padding: 10px;
}
nav a {
    color:white;
    margin-right: 15px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}